/** {
    margin: 0;
    padding: 0;
}*/
* { box-sizing: border-box; font-family: 'TT Lakes', serif;}
html {
    width: 100%;
    margin: 0;
    padding: 0;
    min-width: 320px;
    background: #F8F8F8;
    font-family: 'TT Lakes', serif;
}
.body {
    width: 100%;
    font-family: "TT Lakes", sans-serif;
    font-size: 14px;
    margin: 0;
    padding: 0;
}

.links__button:nth-child(1) {
    display: none;
    background: url("ic/burger/burger.svg") no-repeat;
}
.links__button:nth-child(3) {
    display: none;
    width: 98.55px;
    height: 50.81px;
    border-radius: 0;
    background: url("group.svg") no-repeat;
}
.links__button:nth-child(4) {
    display: none;
    background: url("ic/call/call.svg") no-repeat;
}
.links__button:nth-child(5) {
    display: none;
    background: url("ic/chat/chat.svg") no-repeat;
}
.links__button:nth-child(6) {
    display: none;
    background: url("ic/profile/profile.svg") no-repeat;
}
.links__button:nth-child(7), .links__button:nth-child(2) {
    display: none;
    width: 2px;
    height: 32px;
    border-radius: 0;
    background: url("divider.svg") no-repeat;
}
.links__button:nth-child(8) {
    display: none;
    background: url("ic/repair/repair.svg") no-repeat;
}
.links__button:nth-child(9) {
    display: none;
    background: url("ic/checkstatus/checkstatus.svg") no-repeat;
}
.description__part1, .description__part2, .description__part3 {
    display: none;
}
.links__button:nth-child(n) {
    display: none;
}
.make_ticket {
    display: none;
}
.check_status {
    display: none;
}
.links {
    display: flex;
    width: 100%;
    border-bottom: 1px solid #D9FFF5;
    align-items: center;
    gap: 12px;
    height: 90px;
}
.links__button {
    display: block;
    width: 40px;
    height: 40px;
    border-radius: 50%;
    border: 0;
    margin: 0 auto;
}

.services__button {
    flex-shrink: 0;
    font-family: "TT Lakes";
    border: 0;
    border-radius: 6px;
    background-color: transparent;
    padding-left: 10px;
    padding-right: 10px;
}
.services__button:focus {
    border: 2px solid #B8FFEC;
}
.services::-webkit-scrollbar {
    width: 0;
}
@-moz-document url-prefix() {
    html {
        scrollbar-width: none;
    }
}
.description {
    margin-left: 16px;
    margin-right: 16px;
    /*width: 270px;*/
    text-align: left;
    margin-bottom: 18px;
}
.aside {
    padding-left: 24px;
}

.aside__read-more{
    font-weight: bold;


}
.aside__read-more::before {
    content: url(ic/icon.svg);
    margin-right: 16px;

}
.wrapper {
    display: flex;
    padding: 0;
    margin: 0;
    padding-bottom: 24px;
    margin-top: 16px;

}
.wrapper__picture {
    background-image: url(Picture_Copy.png);
    background-repeat: no-repeat;
    align-self: self-start;
}
.title {
    display: flex;
    align-items: center;
    gap: 10px;
}
.title::before {
    content: url(highlight.svg);
}
.services {
    display: flex;
    height: 40px;
    justify-content: space-between;
    overflow-x: auto;
    width: 100%;
    padding-left: 16px;
    gap: 16px;
}
/*@media screen and (max-width: 767px) {*/
/*mobile first*/
.body {
    width: 100%;
}
.links__button:nth-child(1) {
    display: block;
    margin-left: 24px;
}
.links__button:nth-child(3) {
    display: block;
    margin-right: auto;
}
.links__button:nth-child(7) {
    display: block;
    align-self: center;
}
.links__button:nth-child(8) {
    display: block;
    margin-left: auto;
}
.links__button:nth-child(9) {
    display: block;
    margin-right: 16px;
}
.down-sectors {
    display: flex;
    flex-direction: column;
}
.description__part1 {
    display: block;
}
.wrapper__picture {
    width: 320px;
    height: 230.8px;
}
/*}*/
@media screen and (min-width: 768px) and (max-width: 1119px) {
    .body {
        min-width: calc(768px + 16px);
    }
    .links {
        min-width: 768px;
        margin: 0;
        justify-content: space-between;
    }
    .links__button:nth-child(1) {
        margin-left: 24px;
    }
    .links__button:nth-child(2) {
        display: block;
    }
    .links__button:nth-child(3) {

    }
    .links__button:nth-child(4) {
        display: block;
    }
    .links__button:nth-child(5) {
        display: block;
    }
    .links__button:nth-child(6) {
        display: block;
    }
    .links__button:nth-child(7) {
        display: block;
    }
    .links__button:nth-child(8) {
        display: block;
    }
    .links__button:nth-child(9) {
        display: block;
    }
    .services {
        min-width: 768px;
    }
    .description {
        /*width: 305px;*/
    }
    .description__part2 {
        display: block;
    }
    .down-sectors {
        flex-direction: row;
        justify-content: space-between;

    }
    .wrapper {
        margin-top: 0;
    }
    .wrapper__picture {
        width: 360px;
        height: 259.66px;
    }
}
@media screen and (min-width: 1120px) {
    .body {
        min-width: 1120px;
    }
    .title {
        position: relative;
        bottom: 85px;
    }
    .links {
        border-bottom: none;
    }
    .make_ticket {
        display: block;
    }
    .check_status {
        display: block;
    }
    .links__button:nth-child(1) {
        display: none;
    }
    .links__button:nth-child(3) {
        display: none;
    }
    .links__button:nth-child(4) {
        display: none;
    }
    .links__button:nth-child(5) {
        display: none;
    }
    .links__button:nth-child(6) {
        display: none;
    }
    .links__button:nth-child(7), .links__button:nth-child(2) {
        display: none;
    }
    .links__button:nth-child(8) {
        display: flex;
        align-items: center;
        gap: 9px;
        background: none;
        width: 170px;
    }
    .links__button:nth-child(9) {
        display: flex;
        align-items: center;
        gap: 9px;
        background: none;
        width: 170px;
    }
    .links__button:nth-child(8):after {
        /*margin-left: 150px;*/
        content: url("ic/repair/repair.svg");
    }
    .links__button:nth-child(9)::after {
        content: url("ic/checkstatus/checkstatus.svg");
    }
    .services {
        flex-wrap: wrap;
    }
    .wrapper__picture {
        width: 531.35px;
        height: 383.24px;
    }
    .down-sectors {
        flex-direction: row;
        justify-content: space-between;

    }
    .description__part3 {
        display: block;
    }

}


