.brands {
    font-family: "TT Lakes", sans-serif;
    margin: 0;
    padding: 0;
    margin-left: auto;
    margin-right: auto;
    min-width: 320px;
}
.brands__header {
    border-style: solid;
    border-width: 1px 0 0 0;
    border-color: #D9FFF5;
    border-radius: 1px;
    width: auto;
}
.brands__header-title {
    display: flex;
    font-size: 16px;
    font-weight: normal;
    text-transform: uppercase;
    color: #7E7E82;
    padding: 16px;
}
.brands__main {
    margin-bottom: 48px;
}
.brands__card {
    display: flex;
    max-width: 240px;
    min-width: 220px;
    height: 72px;
    margin-left: 16px;
}
.brands__logo {
    border: 1px solid #EAEAEA;
    border-radius: 6px;
    padding: 16px;
    width: 220px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.brands__icon, .brands__go {

}
.brands__footer-button {
    font-family: "TT Lakes", sans-serif;
    font-weight: 500;
    color: #1B1C21;
    border: 0;
    background-color: transparent;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    margin-left: 11px;
}
.show-more::before {
    content: url(../img/ic/down2.svg);
    margin-right: 10px;
}
.show-less::before {
    content: url(../img/ic/up.svg);
    margin-right: 10px;
}
.brands__list {
    display: flex;
    flex-wrap: wrap;
    gap: 16px;

}
.brands__logo {
    text-decoration: none;
}
/* special classes */
.invisible {
    display: none;
}
.swiper-wrapper {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    gap: 16px;
}

.swiper-slide {
    height: 72px;
    width: 240px;
}

.swiper-pagination {
    margin-bottom: 14px;
}

.swiper-pagination-bullet {
    background-color: #DDDDDD;
    width: 12px;
    height: 12px;
    opacity: 1;
    position: relative;;
}

.swiper-pagination-bullet-active {
    background-color: #B5B6BC;
    opacity: 1;
}
@media screen and (max-width: 767px) {
    .brands__footer {
        display: none;
    }
    .swiper-wrapper {
        flex-wrap: nowrap;
    }
    .brands__list {
        height: 130px;
    }

}
@media screen and (min-width: 768px) and (max-width: 1119px) {
    .brands {
        width: 768px;
    }
    .brands__card {
        max-width: 224px;
    }


}
@media screen and (min-width: 1120px) {
    .brands {
        width: 1120px;
    }


}

